EdgeNet is a joint project of
<a href="https://www.us-ignite.org">US Ignite</a>,
the <a href="https://www.lip6.fr/">LIP6</a> lab
at <a href="https://www.sorbonne-universite.fr/">Sorbonne University</a>,
the <a href="https://engineering.nyu.edu/">NYU Tandon School of Engineering</a>,
the <a href="https://swarmlab.berkeley.edu/home">Swarm Lab</a> at
<a href="https://www.berkeley.edu/">UC Berkeley</a>,
the <a href="https://www.uvic.ca/engineering/computerscience/">Computer Science department</a>
at the <a href="https://www.uvic.ca/">University of Victoria</a>,
the <a href="https://www.univie.ac.at/">University of Vienna</a>,
and <a href="https://cslash.net/">Cslash</a>.
It has received funding from the
<a href="https://www.nsf.org/">National Science Foundation</a> under contract CNS-1820901 and through
a <a href="https://www.vmware.com/">VMware</a> donation to Sorbonne University.
Nodes are provided by the US <a href="https://geni.net">GENI</a> and
<a href="http://www.exogeni.net/">ExoGENI</a> projects, Canada’s
<a href="https://www.savinetwork.ca/">Smart Applications on Virtual Infrastructure</a> project, and
<a href="https://www.planet-lab.eu/">PlanetLab Europe</a>. The cluster head node
is hosted by <a href="https://www.planet-lab.eu/">PlanetLab Europe</a>, which administers the platform.
